dash==2.17.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-extensions==1.0.15
dash-html-components==2.0.0
dash-table==5.0.0
numpy==1.24.4
pandas==2.0.3
pandas-datareader==0.9.0
pandas-market-calendars==4.1.4
plotly==5.23.0
